*{
    margin: 1;
    padding: 0;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #04AA6D;
  }

  .button {
    background-color: #04AA6D;
    border: white;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 8px 4px ;
    cursor: pointer;
  }

  footer {
    text-align: center;
    padding: 3px;
    background-color: rgb(58, 35, 27);
    color: white;
  }

  